/* Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, #ABD2FA, #3D518C);
    background-size: cover;
}


/* Menu lateral */

nav.menu-lateral{
    width: 70px;
    height: 100%;
    background-color: #091540;
    padding: 30px 0 50px 1%;
    border-right: solid #7692FF 4px;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: 0.3s;
    z-index: 1;
}

.btn-expandir{
    padding-bottom: 40px;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: white;
    font-size: 24px;
    cursor: pointer;
}

ul {
    height: 100%;
}

ul li.item-menu{
    transition: 0.5s;
}

ul li.ativo{
    background-color: #7692FF;
}

ul li.item-menu:hover{
    background-color: #7692FF;
}

ul li.item-menu a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 40px 4%;
    display: flex;
    line-height: 40px;
}

ul li.item-menu a span.txt-link{
    display: none;
}

ul li.item-menu a span.txt-link.aparecer{
    margin-left: 20px;
    display: inline;
}

ul li.item-menu a i{
    font-size: 30px;
}


/* Topo */

header{
    width: 100%;
    height: 70px;
    background-color: #091540;
    border-bottom: solid 4px #7692FF;
    position: fixed;
    z-index: 1;
}

.topo {
    display: flex;
    justify-content: flex-end;
    color: white;
    font-size: 25px;
    padding: 10px 20px 0px 20px;
}

.topo > i{
    font-size: 40px;
    margin-left: 15px;
}

.topo h3{
    padding-left: 16%;
}

.inserir{
    color: white;
    margin-left: 70px;
}

.inserir label{
    padding-left: 15px;
}

.inserir input{
    margin-left: 10px;
}


/* Lista */

.container{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Considerando o espaço do header e footer */
}

.section {
    text-align: center;
    width: 300px;
    margin-bottom: 40px;
    margin-top: 80px;
    padding-left: 80px;
    margin-right: 60px;
}

.section-container {
    display: flex;
    margin-bottom: 40px; /* Adicionando um grande espaçamento entre as seções */
}

.table {
    border-collapse: collapse;
    margin-right: 20px;
}

.square-container {
    margin-bottom: 20px;
    position: relative;
}

.square {
    min-width: 300px;
    min-height: 200px;
    border-radius: 10px;
    background: linear-gradient(180deg, #182ce2, #2654aa);
    box-shadow: 0px 4px 8px 3.5px rgba(23, 26, 194, 0.671);
    position: relative;
    padding: 10px; /* Adicionando espaçamento interno */
    overflow-y: auto; /* Adicionando scroll vertical apenas */
    overflow-x: hidden; /* Escondendo o scroll horizontal */
}

.titleS {
    color: white;
    font-size: 24px;
    margin-bottom: 10px;
    left: 30px;
    position: relative;
    display: inline-block; /* Garantindo que o fundo verde não se estenda além do texto */
    padding: 5px; /* Adicionando um pequeno espaçamento entre o texto e o fundo verde */
    border-radius: 5px; /* Adicionando bordas arredondadas */
}

.titleQ {
    font-size: 24px;
    margin-bottom: 20px;
    position: relative;
    color: #9094C3;
    display: inline-block; /* Garantindo que o fundo  não se estenda além do texto */
    padding: 5px; /* Adicionando um pequeno espaçamento entre o texto e o fundo verde */
    border-radius: 5px; /* Adicionando bordas arredondadas */
}

.post-it { 
    color: #ffffff;
    border-radius: 5px;
    position: relative;
    bottom: 10px;
    max-width: 100%;
    padding: 5px; /* Adicionando espaçamento interno */
    overflow: auto;
}

.post-it ul {
    list-style-type: none;
    padding: 0;
}

.post-it li {
    background-color: #1d9ac0bb;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    color: #ffffff;
    border-radius: 10px 0 0 10px;
    margin-bottom: 5px;
}


/* Footer */

footer  {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    background-color: #091540;
    border-top: solid 4px #7692FF;
    position: fixed;
    bottom: 0;
    text-align: center;
}

footer  nav{
    display: flex;
    justify-content: center;
    align-items: center;
}

.refs a{
    color: white;
    font-size: 50px;
    padding: 0 20px
}

.refs h3{
    color: white;
    font-size: 20px;
}